.greyBackground
{
    background: #eeeeee;
}
.navButton{
    color: #cacaca;
}
.width100{
    width: 100%;
}

.required:before {
    content:" *";
    color: red;
}
.marginTop10{
    margin-top: 10px;
}

.carousel-caption{
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: none;
    background-color: #cacaca;
    color: #eeeeee;

}